@model jwt.ViewModel.UserVm
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/jwt.styles.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/jwt.css" asp-append-version="true">
<div class="main-container">
    <form method="post">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Add User
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input type="text" asp-for="Name" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="email" asp-for="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Role"></label>
                            <input type="text" asp-for="Role" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" asp-for="Password">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col"></div>
                            <button class="btn btn-primary">
                                Register
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>